/*---------------------------------------------------------------------
LOGIN PAGE
----------------------------------------------------------------------*/

#login-page .content-page {
    margin: 0;
}

#login-page .links-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    color: #1661D6;
}

/*---------------------------------------------------------------------
REGISTER PAGE
----------------------------------------------------------------------*/

#register-error-note {
    position: absolute;
    left: 50%;
    bottom: -150px;
    bottom: 0px;
    width: 250px;
    height: 150px;
    background-color: #F4F4F9;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    border-radius: 3.5px;
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
}

#register-error-note li {
    display: flex;
    margin-bottom: 25px;
}

#register-error-note img {
    margin-right: 15px;
    margin-top: 2px;
}



/*---------------------------------------------------------------------
DASHBOARD
----------------------------------------------------------------------*/

#dashboard-page .content-page{
    justify-content: flex-start;
}

#dashboard-page .journal-entity {
    width: 750px;
    height: auto;
    margin-top: 80px;

    align-items: flex-end;
    background-color: red;
    border-radius: 3.5px;
    overflow: hidden;

    background-color: #323232;
}

#dashboard-page .journal-entity-title {
    background-color: blue;
    linefont-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding: 20px;
    color: #F4F4F9;
    background-color: #2F80ED;
}

#dashboard-page .journal-entity-wrapper {
    width: calc(100% - 100px);
    margin: 50px auto;
}

#dashboard-page .journal-entity-label {
    display: flex;
    color: #1661D6;
    font-weight: 300;
    font-size: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#dashboard-page .journal-entity-label .label{
    flex-basis: 100px;
}

#dashboard-page .journal-entity-label .label-grow{
    flex-grow: 1;
}

#dashboard-page .journal-entity-item-container {
    display: flex;
    flex-direction: column;
    color: #1661D6;
    width: 100%;
}

#dashboard-page .journal-entity-item {
    display: flex;
    flex-direction: row;
    color: #1661D6;
    width: 100%;
}

#dashboard-page .journal-entity-item .input{
    background: rgba(255, 255, 255, 0.06);
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    color: #F4F4F9;
    font-weight: 300;
    outline: none;
    border-bottom: 2px solid transparent;
}

#dashboard-page .journal-entity-item .input:focus{
    border-bottom: 2px solid #1661D6;
}

#dashboard-page .journal-entity-item .input-small{
     width: calc(100px - 10px)
 }



#dashboard-page .journal-entity-item .input-big{
    flex-grow: 1;
}

#dashboard-page .new-journal-entity-item {
    display: flex;
    flex-direction: row;
    color: #1661D6;
    width: 100%;
}

#dashboard-page .new-journal-entity-item .input{
    background: rgba(255, 255, 255, 0.06);
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    color: #F4F4F9;
    font-weight: 300;
    outline: none;
    border-bottom: 2px solid transparent;
flex-grow: 1;
}

.new-journal-entity-item-button {
    width: calc(100px - 10px);
    background: #1661D6;
    color: #F4F4F9;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
}

/*---------------------------------------------------------------------
REGISTER
----------------------------------------------------------------------*/

#register-error-note {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}


/*---------------------------------------------------------------------
REGISTER DONE
----------------------------------------------------------------------*/

#register-done-page .content-page {
    margin: 0;
}


/*---------------------------------------------------------------------
FORGOT PASSWORD PAGE
----------------------------------------------------------------------*/

#forgot-password-page .content-page {
    margin: 0;
}





